name: paw
description: Pawfect insurance for cats

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 0.0.1+1

environment:
  sdk: ^3.1.1

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.17.0
  graphql_flutter: ^5.1.2
  provider: ^6.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/cat_avatar.png
    - assets/cat_avatar_quote.png
    - assets/cat_avatar_basket.png
    - assets/cat_checkout.png
    - assets/logo.png
    - assets/cat_home_page.png